 @import 'bootstrap-icons/font/bootstrap-icons.css';

 .body-login {
     background-color: #8eaddb;
     opacity: 400;
 }

 .body-home-light {
     background-color: #ffffff;
     opacity: 200;
 }

 .body-home-dark {
     background-color: #120461;
     opacity: 200;
 }

 /* chart: {
    background: #120461;
} */

 .login-container {
     max-width: 1000px;
     max-height: 100%;
     margin: 10 auto;
     padding: 10px;
     background-color: #f6921e;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .navbar {
     background-color: #f6921e;
 }

 .navbar-dark {
     background-color: #945916;
 }

 .sidebar {
     height: 100vh;
     width: 250px;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #343a40;
     padding-top: 20px;
     transition: width 0.3s;
     z-index: 1050;
     /* Higher than the navbar */
 }

 .sidebar.collapsed {
     width: 60px;
     overflow: hidden;
 }

 .sidebar a {
     color: white;
     padding: 10px 15px;
     display: flex;
     align-items: center;
     text-decoration: none;
 }

 .sidebar a:hover {
     background-color: #495057;
 }

 .sidebar a i {
     margin-right: 10px;
 }

 .sidebar.collapsed a span {
     display: none;
 }

 .main-content {
     margin-left: 250px;
     transition: margin-left 0.3s;
 }

 .main-content.collapsed {
     margin-left: 60px;
 }

 .navbar {
     z-index: 1040;
     /* Lower than the sidebar */
 }

 .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
 }

 .sidebar-logo img {
     width: 100px;
     height: auto;
     transition: width 0.3s;
 }

 .sidebar.collapsed .sidebar-logo img {
     display: none;
 }

 .toggle-btn {
     background: none;
     border: none;
     color: white;
     font-size: 20px;
     padding: 0;
     cursor: pointer;
 }

 .toggle-btn.collapsed {
     font-size: 30px;
 }

 .top-left-image {
     position: inherit;
     top: 0;
     left: 0;
     width: 100px;
     height: 70px;
 }

 .register-container {
     max-width: 1000px;
     max-height: 100%;
     margin: 10 auto;
     padding: 10px;
     background-color: #f6921e;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .icon-small {
     font-size: 1rem;
 }

 .icon-medium {
     font-size: 2rem;
 }

 .icon-large {
     font-size: 6rem;
 }

 .card-home {
     background-color: #f6921e;
 }

 .card-home:hover {
     background-color: #935610;
 }

 .btn-custom {
     width: 100%;
     padding: 10px 20px;
     margin: 10px;
     margin-bottom: 4px;
 }

 .btn-custom span {
     font-size: 0.8rem;
     color: #000;
 }

 @media (max-width: 768px) {
     .btn-custom {
         margin-bottom: 10px;
     }
 }

 .act-btn {
     align-items: center;
     justify-content: center;
 }

 .modal-body {
     background-color: #f6921e;
 }
